.Register{
    width: 50%;
    height: 450px;
    margin: auto;
    margin-top: 100px;
    background-color: rgb(26, 25, 21);
    color: gold;
    box-shadow: rgba(128, 125, 4, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}
.Email{
    margin: auto;
    margin-top: 10px;
   margin-left: 25%;
   
   
}
.password{
    margin: auto;
    margin-top: 20px;
   margin-left: 25%;

}
.Box{
        margin: auto;
        margin-top: 100px;
       margin-left: 125px;
       padding: 10px;
       border-radius: 10px;
    }
.Box1{
        margin: auto;
        margin-top: 20px;
       margin-left: 95px;
       padding: 10px;
       border-radius: 10px;
    }
    .save{
       margin-left: 310px;
       margin-top: 20px;
      background-color: gold;
        width: 80px;
        height: 35px;
        border-radius: 10px;
    }
    .Repassword{
        margin: auto;
        margin-top: 20px;
       margin-left: 25%;
    
    }.Mobile{
        margin: auto;
        margin-top: 20px;
       margin-left: 25%;
    
    } 
    .Box2{
        margin: auto;
        margin-top: 20px;
       margin-left: 30px;
       padding: 10px;
       border-radius: 10px;
    }.Box3{
        margin: auto;
        margin-top: 20px;
       margin-left: 50px;
       padding: 10px;
       border-radius: 10px;
    }